extend ../layout

block content
  br
  h4 stm (mbed) stuff
  h1 some stuff done with stm board
  a(href="/learn/stm") stm
  
  br
  h4 aoc stuff
  h1 advent of code challenges. Solved with python, ipython notebook and cpp  
  for year in aocYears
    a(href="/learn/aoc/" + "#{year}") #{year} 
    br

  br
  h4 meetup stuff
  a(href="https://www.meetup.com/de-DE/opentechschool-zurich/" target="_blank") OpenTechSchool Zurich
  br
  a(href="https://www.meetup.com/de-DE/Embedded-GNU-Linux-Developer/" target="_blank") Embedded GNU/Linux Entwickler
  br
  a(href="https://www.meetup.com/de-DE/Agile-Breakfast-St-Gallen/" target="_blank") Agile Breakfast St. Gallen von swissICT

block sidebar
  .widget
    h1 personal
    p info: #{info}
    p.
      station <br>
      8874 Muhlehorn