extend layout

block content
  p
    | aoc stuff
  p
    br
    a(href="/learn/aoc/day01") day01 
    br
    a(href="/learn/aoc/day02") day02 
    br
    a(href="/learn") <<<

    
    h4= message
    h4= text

block sidebar
  .widget
    h1 personal
    p
      | station <br>
      | 8874 Muhlehorn
    
    p
      | blub

