html
  head
    title= title
    link(rel='stylesheet', href='./public/stylesheets/style.css')
  body
    h3= message
    h3= text

    <a href="/work">work</a><br>
    <a href="/learn">learn</a><br>
    <a href="/teach">teach</a><br>
    <a href="/game">game</a><br>
    <a href="/sail">sail</a><br>
    
    h5= footer