html
  head
    title= title
  body
    h1= message
    h2= text

    <a href="/work">work</a>
    <a href="/learn">learn</a>
    <a href="/teach">teach</a>
    <a href="/game">game</a>
    
    h3= footer