doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    h4= message
    h4= text

    <a href="learn/python">python</a><br>
    <a href="learn/nodejs">nodejs</a><br>
    <a href="learn/cpp">cpp</a><br>   
    <a href="/learn"> <<< learn </a><br>  
    <a href="/"> <<< home </a><br>
  
    h5= footer