extend layout

block content
  p
    | Some learn stuff

block sidebar
  .widget
    h1 personal
    p
      | station <br>
      | 8874 Muhlehorn
    
    p
      | last update 3 days ago
      | vehicula.