extend layout

block content

  p
    | aoc stuff
    br
    a(href="/learn/aoc/2019") 2019
    br
    a(href="/learn/aoc/2018") 2018
   


  p 
    | meetup stuff
    br
    a(href="https://www.meetup.com/") open zurick
    br
    a(href="https://www.meetup.com/") gnu linux
    br
    a(href="https://www.meetups.com") agile blub

block sidebar
  .widget
    h1 personal
    p
      | station <br>
      | 8874 Muhlehorn
    
    p
      | last update 3 days ago
      | vehicula.