doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    h4= message
    h4= text

    <a href="teach/c">c</a><br>
    <a href="/teach"> <<< teach </a><br>  
    <a href="/"> <<< home </a><br>
  
    h5= footer