extend layout

block content
  h4 about work 
  p.
    Sep 2015 – heute Adlos AG (Balzers, LIE)<br>
    Feb 2015 – Aug 2015 Stäubli AG (Sargans)<br>
    Nov 2009 – Jul 2014 INTEGRA Biosciences AG<br>
    Dez 2007 – Aug 2009 CEDES AG Landquart<br>
    Aug 2007 – Okt 2007 Diplomarbeit Türmanagement mit 3D-Kamera CEDES AG als Industriepartner<br>
    Sommersemester 2007 Projektarbeit Fachhochschule Video und Audio Streaming über Fast Ethernet ZHAW Institude als Industriepartner<br>
    Wintersemester 2006 Projektarbeit Fachhochschule Passive Fast Ethernet Übertragung über Luftspalt Leica Geosystems als Industriepartner<br>
    Aug 2006 – Okt 2006 Ferienjob Montagearbeiten Schreinerei Nyffenegger AG<br>
    Okt 2004 – Jan 2006 Teilzeit 20% Kurier / Küchenchef Pizza Blitz Winterthur<br>
    Aug 2003 – Jun 2002 Rekrutenschule in Fribourg<br>
    Okt 2001 – Jan 2002 Reparaturarbeiten an Geräten als Elektroniker Palomar Elektronik AG<br>    
  br
  a(href="/") <<<

block sidebar
  .widget
    h1 personal
    p.
      station <br>
      8874 Muhlehorn
    
    p.
      last update 3 days ago