extend layout

block content
  p.
    about work 
  br
  a(href="/") <<<

block sidebar
  .widget
    h1 personal
    p.
      station <br>
      8874 Muhlehorn
    
    p.
      last update 3 days ago